<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="resultpath" value="D:\Visual Studio 2017\Projects\sin5022\sin5022\output\result.exe"/>
    <add key="sourcecode" value="D:\Visual Studio 2017\Projects\sin5022\ForTest\Program.cs"/>
    <add key="template" value="D:\Visual Studio 2017\Projects\sin5022\sin5022\data\template.txt"/>
    <add key="methodname" value="RandomCalc"/>
    <add key="request" value="D:\Visual Studio 2017\Projects\sin5022\sin5022\data\request.txt"/>
    <add key="response" value="D:\Visual Studio 2017\Projects\sin5022\sin5022\data\response.txt"/>
    <add key="assertion" value="D:\Visual Studio 2017\Projects\sin5022\sin5022\data\assertion.txt"/>
  </appSettings>
</configuration>