<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="resultpath" value="..\..\output\result.exe"/>
    <add key="sourcecode" value="..\..\..\ForTest\Program.cs"/>
    <add key="template" value="..\..\data\template.txt"/>
    <add key="methodname" value="RandomCalc"/>
    <add key="request" value="..\..\data\request.txt"/>
    <add key="response" value="..\..\data\response.txt"/>
    <add key="assertion" value="..\..\data\assertion.txt"/>
  </appSettings>
</configuration>